body {
    background-color:rgb(154, 212, 233);
    /* color: aliceblue; */
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px; 
    /* margin-top: 10px; */
    list-style: none;
    background-color: rgb(138, 204, 228);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.6);

  }
  .navigation a {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    margin-right: 40px;
    /* font-weight: 500; */

  }
  .navigation a button{
    background-color:rgb(62, 85, 218);
  }
.content h2 {
    margin-left: 157px;
    margin-top: 150px;
    font-weight: bolder;
    border: 0.5rem;
 }

.content h2 p {
  color: rgb(62, 85, 218);
  font-size: 3rem;
}

.content h4{
    margin-left: 157px;
    border: 0.5rem;
    
}
.content i {
  margin-left: 155px;
  word-wrap: break-word;
}
.content span button{
  margin-left: 155px;
  margin-top: 10px;
  background-color:rgb(62, 85, 218);
  
}
.content img {
    margin-top: 140px;
    margin-right: 240px; 
    position: absolute; /* this will give a fix position to you pic where you wnat to  */
    right: 0; /* to align the pic in right side of the screen */
    top: 0; /* Align to the top */
    max-width: 1000px; /* Control the size as needed */
    border-radius: 40% 20%;

}
.icons  {
  margin-left: 155px;
  margin-top: 150px;

}